<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053670431296-7u8qcppphrs7c3gqphu480rtvh4h8659.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053670431296-7u8qcppphrs7c3gqphu480rtvh4h8659</string>
	<key>API_KEY</key>
	<string>AIzaSyAac-CN8Q2dOa5SDPZJE7T3sAElsFODgF4</string>
	<key>GCM_SENDER_ID</key>
	<string>1053670431296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhma</string>
	<key>PROJECT_ID</key>
	<string>mhma-faze</string>
	<key>STORAGE_BUCKET</key>
	<string>mhma-faze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053670431296:ios:3da3d1f88343e8771c1da5</string>
</dict>
</plist>